body {
    font-family: 'Roboto', sans-serif;
}


.Header {
    background-color: #1f2937 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-Logo {
    color: #f9faf8;
    font-size: 24px;
    padding-left: 10px;
    font-weight: bold;
}

.Header-Links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;

}

ul {
    list-style: none;
}


a:link, a:visited {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}

.Intro {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937 ;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
}

.Intro-Title {
    display: flex;
    flex: 1;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding: 10px;
}

.Intro-Subtext {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 500px;
    padding: 10px;
}

.Intro-Image {
    display: flex;
    height: auto;
    width: 600px;
    max-width: 1200px;
    padding: 10px;
    padding-right: 50px;
    padding-bottom: 50px;
    flex: 1 0 auto;
    object-fit: cover;
}

.Info-Title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.Info-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Info-Text {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.Info-Image {
    height: auto;
    width: 500px;
    border-radius: 30px;
}

.Quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 100px 50px 100px;
}

.Quote-Person {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

.Bottom {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    padding: 50px 25px;
    margin: 100px 50px;
    border-radius: 20px;
}

.Bottom-Text {
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: large;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #f9faf8;
}