body {
    font-family: 'Roboto', sans-serif;
}


.Header {
    background-color: #1f2937 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-Logo {
    color: #f9faf8;
    font-size: 24px;
    padding-left: 10px;
    font-weight: bold;
}

.Header-Links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;

}

ul {
    list-style: none;
}


a:link, a:visited {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}

.Intro {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937 ;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
}

.Intro-Title {
    display: flex;
    flex: 1;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding: 10px;
}

.Intro-Subtext {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 500px;
    padding: 10px;
}

img {
    display: flex;
    height: auto;
    width: 600px;
    max-width: 1200px;
    padding: 10px;
    padding-right: 50px;
    padding-bottom: 50px;
    flex: 1 0 auto;
    object-fit: cover;
}

button {
    background-color: #3882f6;
    font-size: large;
    margin: 10px;
}